nav(class="navbar navbar-default navbar-fixed-top" role="navigation")
  div(class="container-fluid")
    div(class="navbar-header")
      button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span(class="sr-only") Toggle navigation
        span(class="icon-bar") 
        span(class="icon-bar") 
        span(class="icon-bar") 
      a(class="navbar-brand" href="#") Delve

    div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
      ul(class="nav navbar-nav")
        li(class="active")
            a(href="#") Deck
        li
            a(href="#") Play

div.container
    div(class="row")
        div.well
            h1 Build your deck
            p.lead Select your cards from below to build your deck on the right #{static}
    
    div(class="row")
      div(class="col-md-3")
        div.thumbnail
          img(style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
          div(class="caption")
              h3 Thumbnail label
              p Flavor text
              p
                a(href="#" class="btn btn-primary" role="button") Select
      div(class="col-md-3")
        a(href="#" class="thumbnail")
          img(class="img-thumbnail" style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
      div(class="col-md-3")
        a(href="#" class="thumbnail")
          img(class="img-thumbnail" style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
      div(class="col-md-3")
        a(href="#" class="thumbnail")
          img(class="img-thumbnail" style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
      div(class="col-md-3")
        a(href="#" class="thumbnail")
          img(class="img-thumbnail" style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
      div(class="col-md-3")
        a(href="#" class="thumbnail")
          img(class="img-thumbnail" style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
      div(class="col-md-3")
        a(href="#" class="thumbnail")
          img(class="img-thumbnail" style="width: 200px" src="#{static}/css/images/card.jpg" alt="A cool card")
